* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.wrapper-header {
    position: relative;
    overflow: hidden;
}
.header {
    height: 768px;
    width: 80%;
    /* line-height: 50px; */
    margin: 0 auto;
}
.phone-mockup {
    position: absolute;
    top: 135px;
    left: 60%;
    right: 18.5%;
    z-index: 1;
}
.login-block .login:hover,
.nav-list li:hover,
.navbar .logo:hover {
    opacity: 0.7;
    cursor: pointer;
}
.logo span:last-child {
    color: #540CFA;
}
.background-nav {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    z-index: -1;
}
.header .navbar {
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.square-shape-top {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 40px;
    top: -132px;
    right: -280px;
    z-index: -2;

}
.shape-orange{
    background: linear-gradient(135deg, #F2C314 0%, #FC3832 100%);
    opacity: 0.9;
    transform: rotate(65deg);
}
.shape-purple {
    background: linear-gradient(135deg, #9C09DB 0%, #1C0FD7 100%);
    opacity: 0.9;
    transform: rotate(45deg);
}
.nav-list-block .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-list li a {
    padding: 0 30px;
    text-decoration: none;
    color: #000;
}
.login-block {
    display: flex;
    justify-content: space-around;
}
.login-block .login {
    margin-right: 30px;
}
.login-block .get-started button {
    border: none;
    background-color: #540CFA;
    color: #FFFFFF;
    height: 32px;
    width: 102px;
    border-radius: 4px;
}
/* main-header */
.main-header {
    width: 60%;
    margin-top: 150px;
}
.main-header .header-title {
    font-size: 70px;
    font-weight: 400;
    line-height: 72px;
}
.main-header .header-content {
    width: 68%;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 0;
}
.email-tracking {
    width: 62%;
    display: flex;
    height: 54px;
    line-height: 24px;
}
.wrap-input-email {
    border: 1px solid #FFFFFF;
    display: block;
    width: 100%;
    font-size: 15px;
    margin-right: 1px;
    border-radius: 2px;
}
.wrap-input-email:hover {
    border: 1px solid #ccc;
}
.input-email input:focus {
    border: none;
}
.input-email {
    padding: 2px 4px 4px 4px;
}
.input-email span {
    color: #540CFA;
}
.wrap-input-email .input-email span {
    display: block;
}
.wrap-input-email input {
    border: none;
    height: 24px;
    padding: 1px;
    width: 100%;
}
.wrap-input-email input:focus {
    outline: none;
}
.start-tracking button {
    width: 142px;
    height: 100%;
    border: none;
    background-color: #540CFA;
    color: #FFFFFF;
    font-size: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.start-tracking button:hover,
.login-block .get-started button:hover,
.read-more-btn button:hover {
    cursor: pointer;
    background-color: #540CBA;
}
.compatible-with {
    margin-top: 130px;
    width: 75%;
}
.compatible-with-title {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.3;
    margin-bottom: 20px;
}
.compatible-with-logo {
    display: flex;
    justify-content: space-between;
}
.compatible-with-logo .logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}
.compatible-with-logo .logo-img:first-child {
    width: 94px;
}
.compatible-with-logo .logo-img:last-child {
    width: 96px;
}
.logo-img img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}
.showtrack-feature {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 542px;
    margin-top: 150px;
}
.square-shape-blue {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -225px;
    left: -400px;
    background: linear-gradient(135deg, #32FBFC 0%, #3214F2 100%);
    border-radius: 40px;
    opacity: 0.9;
    transform: rotate(45deg);
}
/* Css Gerneral */
.main-title-center {
    font-weight: 400;
    font-size: 60px;
    line-height: 63px;
    text-align: center;
}
.main-content-center {
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    opacity: 0.8;
}
.main-title-left {
    font-weight: 400;
    font-size: 46px;
    line-height: 50px;
}
.main-content-left {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
/* application-feature */
.application-feature {
    margin-top: 80px;
    display: flex;
    gap: 100px;
}
.feature .main-title-center,
.feature .main-content-center {
    width: 50%;
    margin: 0 auto;
}
.feature .main-title-center {
    margin-top: 16px;
    margin-bottom: 30px;
}
.feature-section {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
}
.application-feature .automated-tracking,
.application-feature .machine-learning,
.application-feature .smart-notifications {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.automated-tracking .application-feature-icon {
    background: linear-gradient(135deg, #9C09DB 0%, #1C0FD7 100%);

}
.machine-learning .application-feature-icon {
    background: linear-gradient(135deg, #F2C314 0%, #FC3832 100%);
}
.smart-notifications .application-feature-icon {
    background: linear-gradient(135deg, #32FBFC 0%, #3214F2 100%);
}
.application-feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 4px rgba(36, 8, 128, 0.15);
    border-radius: 14px;
}
.application-feature-title {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.application-feature-content {
    margin-bottom: 14px;
}
.learn-more {
    font-weight: 400;
    font-size: 16px;
    border: none;
    color: #540CFA;
}
.learn-more:hover {
    cursor: pointer;
    opacity: 0.7;
}
/* film-carosel */
.wrap-film-carousel {
    width: 100%;
    display: flex;
    position: relative;
    margin: auto;
    place-items: center;
    overflow: hidden;
}
.film-carosel {
    margin-top: 140px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    height: 330px;
    width: calc(220px * 10);
    animation: scroll-carosel 5s linear infinite;
}
@keyframes scroll-carosel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-220px* 2.5));
    }
}
.item-film-carosel{
    width: 220px;
}
.item-film-carosel a img{
    width: 220px;
}
/* easy-to-use */
.easy-to-use {
    position: relative;
    display: flex;
    margin-left: 11.8%;
    margin-bottom: 140px;
}
.mobile-demo-app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.easy-to-use-main {
    margin-top: 80px;
    width: 36.22%;
    margin-right: 160px;
}
.mobile-demo-app img {
    width: 250px;
    height: 460px;
}
.easy-to-use-main .main-content-left {
    margin-top: 20px;
    margin-bottom: 50px;
}
.easy-type {
    margin-left: 18px;
}
.easy-type-item {
    height: 54px;
    display: flex;
    align-items: center;
}
.easy-type-item img {
    margin-right: 18px;
}
/* community */
.community {
    display: flex;
    padding-left: 170px;
    height: 800px;
    background-color: #000000;
    color: #FFFFFF;
}
.community-section {
    
}
.main-community {
    margin-top: 200px;
    width: 460px;
    height: 338px;
}
.main-title-left {
    margin-top: 16px;
}
.main-content-left {
    margin-top: 20px;
    margin-bottom: 20px;
}
.read-more-btn button {
    width: 216px;
    padding: 0 10px;
    height: 42px;
    color: #FFFFFF;
    background: #540CFA;
    border-radius: 4px;
    border: none;
}
.demo-community {
    display: flex;
    padding-left: 100px;
    padding-right: 170px;
    width: 65%;
    height: 100%;
    overflow: hidden;
}
.demo-community-left,
.demo-community-right {
    width: calc((100%-20px)/2);
    height: 100%;
}
.demo-community-left {
    margin-right: 20px;
    animation: scroll-demo-community-left 30s linear infinite normal;
    transition: 0.1s;
}
.demo-community-right {
    animation: scroll-demo-community-right 30s linear infinite alternate-reverse;
    transition: 0.1s;

}
@keyframes scroll-demo-community-left {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes scroll-demo-community-right {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.demo-community-right .demo-community-item:first-child {
    margin-top: 80px;
}
.demo-community-item {
    padding: 14px;
    height: auto;
    margin-top: 20px;
    background: rgba(100, 100, 100, 0.8);
    border-radius: 8px;
}
.avatar-name span {
    font-size: 12px;
}
.header-item-community {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar-name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.twitter-icon {
    align-items: center;
}
.demo-community-comment {
    margin-top: 14px;
    margin-bottom: 34px;
    font-size: 13px;
}
.time-comment {
    font-size: 12px;
    opacity: 0.6;
}
/* getting started */
.wrap-get-started {
    display: flex;
    height: 640px;
    width: 100%;
    justify-content: center;
    transform: translateY(25%);
}
.get-started {
    width: 42.5%;
    height: 60%;
}
.get-started-section {
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 14px;
}
.get-started .main-content-center {
    margin-top: 16px;
    margin-bottom: 50px;
}
.get-started .email-tracking {
    width: 75%;
    margin: 0 auto;
}
/* footer */
.footer {
    text-align: center;
}
.footer-icon-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 26px;
}