@media screen and (max-width:1280px) {
    #go-to-top {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }
    .wrap-get-started {
        display: flex;
        height: 610px;
        width: 100%;
        justify-content: center;
        transform: translateY(18%);
    }
    .demo-community {
        display: flex;
        padding-left: 100px;
        padding-right: 150px;
        width: 70%;
        height: 100%;
        overflow: hidden;
    }
}
@media screen and (max-width:1024px) {
    .phone-mockup img {
        height: 580px;
    }
    .easy-to-use-main {
        margin-top: 80px;
        width: 36.22%;
        margin-right: 160px;
    }
    .easy-to-use-main {
        margin-top: 59px;
        width: 36%;
        margin-right: 60px;
    }
    .easy-to-use-example {
        width: 60%;
    }
    .community {
        padding-left: 130px;
    }
    .demo-community {
        padding-left: 80px;
        padding-right: 70px;
        width: 75%;
    }
    .main-community {
        margin-top: 140px;
    }
    .get-started {
        width: 55.5%;
        height: 60%;
    }
}